/*

!*/

!Assets/
!Assets/Scripts/

!Assets/Scripts/**/*.cs

Library/
ProjectSettings/
Temp/
Logs/

!.gitignore
!README.md
!LICENSE
*.meta
.idea/*
Assets/*
obj/*
Packages/*
UserSettings/*
!Assets/Scripts